* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Spartan-Regular';
}

html,
body,
.app {
  height: 100%;
}

body {
  margin: 0;
  color: black;
  line-height: 1.785;
}

main,
footer {
  padding: 5px;
}

p {
  margin: 0 0 1em;
  max-width: 40ch;
}

a {
  text-decoration: none;
}

// h1,h2 etc...

ul {
  list-style: none;
  padding: 0;
}

li {
  list-style: none;
}

input {


  &:focus {
    outline-color: #51607985;
  }
}

textarea {
  resize: none;
}

input:focus,
textarea:focus {
  box-shadow: inset 0 0 0 2px #0079bf;
  outline: none;
}
