.app-nav {
    background-color: #292f4c;
    width: 66px;
    min-width: 66px;
    display: flex;
    flex-direction: column;
    align-items: center;

    ul {
        margin-top: 8px;
        gap: 8px;
    }

    a {
        width: 36px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
    }

    img {
        min-width: 40px;
        height: 40px;
    }

    .workspaces-icon {
        position: relative;
        color: #ffffff;
        margin: 0 auto;
    }
}
